
.global{
	height:1000px;
	position: relative;
	
}
.page-footer{
	color:white;
	background-color:#007179;
	position: relative;
	bottom:0;
	width:100%;
}
.creer{
	color:white;
	text-align:center;
	position: relative;
	left:25%;
	height:auto;
	width: 50%;
	background-color:#007179;
	
}
.connex{
	color:white;
	text-align:center;
	position: relative;
	left:25%;
	height:auto;
	width: 50%;
	background-color:#007179;
	
}
