
.global{
	height:auto;
	position: relative;
	
}
.page-footer{
	color:white;
	background-color:#007179;
	position: relative;
	bottom:0;
	width:100%;
}
.creer{
	color:white;
	text-align:center;
	position: relative;
	left:25%;
	min-height:75%;
	width: 50%;
	background-color:#007179;
	
}
.connex{
	color:white;
	text-align:center;
	position: relative;
	left:25%;
	min-height:40%;
	width: 50%;
	background-color:#007179;
	}
.vente{
	color:black;
	position: relative;
	left:5%;
	min-height:90%;
	width: 80%;
	background-color:white;
}
.parent-div {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.parent-div input[type=file] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  font-size: 90px;
}
.btn-upload {
  background-color: #fff;
  border: 3px solid #000;
  color: #000;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
}


